{% assign item = include.page %}

<article class="card">

    <div>
        <h1>{% if item.subtitle %}<strong>{{ item.subtitle }}</strong> {% endif %}{{ item.title }}</h1>
        {{ item.content | markdownify | replace: "\", "<br />" }}
    </div>

    {% if item.images %}
        {% for image in item.images %}
        <figure>
            {% include components/image.html image=image.url alt=image.alt style="card" %}
            {% if image.caption %}
                <figcaption>
                    {{ image.caption }}
                </figcaption>
            {% endif %}
        </figure>
        {% endfor %}
    {% endif %}

</article>
