{% assign item = include.page %}

<article class="frames">

    <div class="box dark">
        <h1>{{ page.title }}</h1>
        {{ item.content | replace: "\", "<br />" }}
    </div>

    {% if item.images %}
        {% for image in item.images %}
        <figure class="box">
            {% include components/image.html image=image.url alt=image.alt style="card" %}
            {% if image.caption %}
                <figcaption>
                    {{ image.caption }}
                </figcaption>
            {% endif %}
        </figure>
        {% endfor %}
    {% endif %}

</article>
