<nav id="nav" data-gumshoe-header>
    <h2 class="hidden">Menu</h2>
    <a href="#" data-nav-toggle="[data-nav-menu]">
        <span>Menu</span>
    </a>
    <ul data-nav-menu data-gumshoe>
        {% assign pages = site.pages | where_exp: "item", "item.meta.menu.order != null" | sort: "meta.menu.order" %}
        {% for item in pages %}
        <li>
            <a data-scroll href="{{ item.meta.menu.url }}"{% if item.permalink == page.permalink or (item.permalink.size > 4 and page.permalink contains item.permalink) %} class="active"{% endif %}>
                <span>{{ item.meta.menu.title }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
