<nav id="nav">
    <h2 class="hidden">{{ site.data.menu.title }}</h2>
    <a href="#" data-nav-toggle="[data-nav-menu]">
        <span>{{ site.data.menu.title }}</span>
    </a>
    <ul data-nav-menu data-gumshoe>
        {% assign current = page.permalink %}
        {% assign hash = current | remove_first: "/" | prepend: "/#" %}

        {% for link in site.data.menu.links %}

            <li>
                <a data-scroll href="{{ link.url }}" {% if link.url == current or link.url == hash %} class="active"{% endif %}>
                    {{ link.title }}
                </a>
            </li>

        {% endfor %}
    </ul>
</nav>




