{% assign item = include.page %}

{% if item.widgets.map %}
<section class="map">
    <h3 class="hidden">Locatie</h3>
    {% include components/iframe.html src=item.widgets.map %}
</section>
{% endif %}

<article class="page" id="{{ item.permalink | slice: 1, item.permalink.size }}">

    {% if item.images %}
    <aside>
        {% for image in item.images %}
        <figure class="box">
            {% include components/image.html image=image.url alt=image.alt style="card" %}
            {% if image.caption %}
                <figcaption>
                    {{ image.caption }}
                </figcaption>
            {% endif %}
        </figure>
        {% endfor %}
    </aside>
    {% endif %}

    <div class="content">
        <h1>{{ item.title }}</h1>
        {{ item.content | markdownify | replace: "\", "<br />" }}
    </div>

</article>
