{% assign item = include.page %}

{% if item.widgets.map %}
<section class="map">
    <h3 class="hidden">Locatie</h3>
    {% include components/iframe.html src=item.widgets.map %}
</section>
{% endif %}

<article class="page" id="{{ item.permalink | slice: 1, item.permalink.size }}">

    {% if item.images %}
    <aside{% if item.images.size > 2 %} class="gallery"{% endif %}>
        {% for image in item.images %}
        <figure>
            {% include components/image.html image=image.url alt=image.alt style="card" %}
            {% if image.caption %}
                <figcaption>
                    {{ image.caption }}
                </figcaption>
            {% endif %}
        </figure>
        {% endfor %}
    </aside>
    {% endif %}

    <div>
        {{ item.content | markdownify | replace: "\", "<br />" }}

        {% if item.links %}
        {% include components/links.html items=item.links class="unstyled links" %}
        {% endif %}
        
        {% if item.buttons %}
        {% include components/buttons.html items=item.buttons class="buttons" %}
        {% endif %}

    </div>

</article>
