<section class="projects" id="{{ item.permalink | slice: 1, item.permalink.size }}">

    <h1>Projecten</h1>

    {% for post in site.posts reversed %}
    <article class="card project">

        <div>
            <h1>{% if post.subtitle %}<strong>{{ post.subtitle }}</strong> {% endif %}{{ post.title }}</h1>
            {{ post.content | markdownify | replace: "\", "<br />" }}
        </div>

        {% if post.images %}
            {% assign c = post.images.size %}
            {% for image in post.images %}
            <figure{% if c == 1 %} class="wide"{% endif %}>
                {% capture style %}{% if c == 1 %}card-wide{% else %}card{% endif %}{% endcapture%}
                {% include components/image.html image=image.url alt=image.alt style=style %}
                {% if image.caption %}
                    <figcaption>
                        {{ image.caption }}
                    </figcaption>
                {% endif %}
            </figure>
            {% endfor %}
        {% endif %}

    </article>

    {% endfor %}

</section>

