// --------
// IMPORTS
// --------

@import
    "library/library",
    "library/icons/hamburger",
    "theme/variables",
    "theme/fonts",
    "theme/layout";


// ------------
// ALL SCREENS
// ------------

// include fonts
@include fonts-critical;

// include library components
@include base;
@include menu (
    $selector: "#nav",
    $font-size: $font-size-small,
);
@include link (
    $margin: 0 $spacing-huge 0 0,
    $selector: "#nav ul a"
);
@include picture;
@include layout;



// ------------------
// MIN SMALL SCREENS
// ------------------

@media screen and (min-width: $breakpoint-medium) {

    // include library components
    @include menu-extended (
        $orientation: "horizontal",
        $selector: "#nav"
    );
}



// ------------------
// MIN LARGE SCREENS
// ------------------

@media screen and (min-width: $breakpoint-large) {

    // include theme components
    @include layout-large;
}



// ------------------
// MAX SMALL SCREENS
// ------------------

@media screen and (max-width: $breakpoint-medium) {

    // include library components
    @include hamburger-icon (
        $selector: "#nav > a > span",
        $color: $color-black,
    );

    // include theme components
    @include layout-small;

}


