// --------
// IMPORTS
// --------


@import
    "fonts",
    "library/library",
    "library/icons/hamburger",
    "variables",
    "components/layout",
    "components/page",
    "components/content",
    "components/card",
    "components/projects",
    "components/forms",
    "components/map";



// ------------
// ALL SCREENS
// ------------

// include fonts
@include fonts-non-critical;

// include library components
@include keyframes;
@include button (
    $background-color: $color-white,
    $background-color-hover: $color-black,
    $border-color: $color-black,
    $border-width: 2px,
    $border-style: solid,
    $color: $color-black,
    $text-transform: uppercase,
    $letter-spacing: .2em,
    $font-size: $font-size-small,
    $font-weight: 900,
    $padding: $spacing-medium $spacing-large,
    $margin: 0 $spacing-medium $spacing-medium 0
);
@include form;
@include input (
    $border-width: 0 0 1px,
    $border-color: $color-black,
    $border-color-focus: $color-gray,
    $margin: $spacing-large 0,
    $padding: em(12) 0
);
@include list (
    $selector-suffix: ":not(.links):not(.buttons)"
);
@include table (
    $text-align: center
);
@include text-link (
    $border-bottom: 2px solid $color-link,
    $selector: "p a"
);
@include blockquote;
@include picture-loaded;
@include layout-loaded;

// include theme components
@include focus-effect-line;
@include card;
@include page;
@include content;
@include projects;
@include contact-form;
@include map;


// ----------------
// MIN SMALL SCREENS
// ----------------

@media screen and (min-width: $breakpoint-small) {

    // include library components
    @include button-inline;

    // include theme components
    @include page-medium;
    @include map-medium;
}


// ------------------
// MIN MEDIUM SCREENS
// ------------------

@media screen and (min-width: $breakpoint-large) {

    // include theme components
    @include card-large;
    @include projects-large;
    @include map-large;

}


// -----------------
// MAX SMALL SCREEN
// -----------------

@media screen and (max-width: $breakpoint-medium) {

    // include library components
    @include menu-slide-left (
        $selector: "#nav > ul",
    );
    @include hamburger-icon-close (
        $selector: "#nav > a.active > span",
    );

}
