// --------
// IMPORTS
// --------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400i,600,600i,700,700i');
@import
    "library/library",
    "library/icons/hamburger",
    "library/components/cards",
    "variables",
    "components/page";



// ------------
// ALL SCREENS
// ------------

// include keyframes component
@include keyframes;

// include button component
@include button;

// include form component
@include form;

// include input component
@include input;

// include list  component
@include list;

// include table component
@include table (
    $text-align: center
);

// include text-link component
@include text-link (
    $border-bottom: 2px solid $color-link,
    $selector: "p a"
);

// include focus effect component
@include focus-effect (
    $selector: "#nav a, #{$button-selector}"
);
@include focus-effect-background (
    $color: rgba(256,256,256,0.05),
    $selector: "#nav a:focus"
);

// include blockquote component
@include blockquote;

// include page loaded component
@include picture-loaded;

// include page loaded component
@include page-loaded;

// include menu link effects component
@include link-extended (
    $background-active: lighten($color-navy, 5),
    $background-hover: lighten($color-navy, 2),
    $selector: "#nav > ul a"
);

// include card component
@include card (
    $border: 1px solid $color-border,
    $margin-bottom: $spacing-medium,
);



// ----------------
// MIN SMALL SCREENS
// ----------------

@media screen and (min-width: $breakpoint-small) {

    // include button inline component
    @include button-inline;

    // include grid helper
    @include grid (
        $selector: '.cards',
        $columns: 2,
        $gap: $spacing-medium
    );

}



// ------------------
// MIN MEDIUM SCREENS
// ------------------

@media screen and (min-width: $breakpoint-medium) {

    // include grid item helper
    @include grid-columns (
        $selector: '.cards',
        $columns: 3,
        $gap: $spacing-large
    );
}



// -----------------
// MAX SMALL SCREEN
// -----------------

@media screen and (max-width: $breakpoint-small) {

    // include menu dropdown component
    @include menu-dropdown (
        $selector: "#nav > ul",
        $background: inherit
    );

    // include hamburger icon close component
    @include hamburger-icon-close;

}
