// --------
// IMPORTS
// --------


@import
    "fonts",
    "library/library",
    "library/icons/hamburger",
    "library/components/cards",
    "variables",
    "components/page",
    "components/article";



// ------------
// ALL SCREENS
// ------------

// include fonts
@include fonts-non-critical;

// include keyframes component
@include keyframes;

// include button component
@include button;

// include form component
@include form;

// include input component
@include input;

// include list  component
@include list;

// include table component
@include table (
    $text-align: center
);

// include text-link component
@include text-link (
    $border-bottom: 2px solid $color-link,
    $selector: "p a"
);

// include blockquote component
@include blockquote;

// include page loaded component
@include picture-loaded;

// include page loaded component
@include page-loaded;

@include article;

// include focus effect
@include focus-effect-line;

// include card component
@include card (
    $margin-bottom: $spacing-medium,
);



// ----------------
// MIN SMALL SCREENS
// ----------------

@media screen and (min-width: $breakpoint-small) {

    // include button inline component
    @include button-inline;

    // include frames large
    @include article-medium;
}



// ------------------
// MIN MEDIUM SCREENS
// ------------------

@media screen and (min-width: $breakpoint-large) {

    // include frames large
    @include article-large;

}



// -----------------
// MAX SMALL SCREEN
// -----------------

@media screen and (max-width: $breakpoint-small) {

    // include menu dropdown component
    @include menu-slide-left (
        $selector: "#nav > ul",
    );

    // include hamburger icon close component
    @include hamburger-icon-close (
        $selector: "#nav > a.active > span",
    );

}
