@mixin page() {
    .page {
        justify-content: center;
        padding: $nav-height $spacing-huge $spacing-huge;

        & > div,
        aside {
            margin-bottom: $spacing-huge;
            flex: 1 100%;
        }

        & > div {
            order: 2;
        }

        aside {
            max-width: em(420);

            & > figure {
                flex: 1 100%;
            }

            & + .content {
                max-width: em(760);
            }
        }

        figure {
            margin-bottom: $spacing-medium;
        }

        picture:before {
            padding-top: 100%;
            background-color: transparent;
        }

    }

    aside.gallery {
        max-width: 100%;
        order: 9;

        figure {
            flex-basis: 33%;
            max-width: 50%;
            min-width: em(180);
            margin: 0;
        }
    }
}



@mixin page-medium() {

    .page {
        padding-left: $spacing-huge * 2;
        padding-right: $spacing-huge * 2;

        & aside + div {
            flex-basis: 65%;
            padding-left: $spacing-huge * 2;
        }

        aside {
            flex-basis: 35%;

            figure {
                margin: $spacing-medium 0;
            }
        }

    }

    aside.gallery {
        flex-basis: 100%;

        & + div {
            flex-basis: 100%;
            padding-left: 0;
        }

        figure {
            flex-basis: 25%;
            max-width: 25%;
        }
    }
}

@mixin page-large() {

    aside.gallery {

        figure {
            flex-basis: 20%;
            max-width: 20%;
        }
    }
}
