@mixin card() {
    .card {

        & > div {
            background-color: $color-black;
            color: $color-white;
            flex: 1 100%;
            order: 3;
            padding: $spacing-huge;

            * {
                color: inherit;
            }

        }

        figure {
            flex: 1 50%;
        }

        picture {
            height: 100%;
            overflow: hidden;

            &:before {
                background-color: #ABB9DA;
                height: 100%;
                padding-top: 100%;
            }

        }

        img {
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: auto;
            max-width: none;
        }

        p {
            max-width: em(600);
        }

        .button {
            border-color: $color-white;
            background-color: $color-black;
            color: $color-white;
        }

    }

    figure.wide {
        flex-basis: 100%;

        picture:before {
            padding-top: 50%;
        }
     }

}


@mixin card-large() {
    .card {
        figure,
        div {
            flex-basis: 33%;
        }

        div {
            order: 0;
            padding: $spacing-huge + $spacing-medium;
        }

        figure.wide {
            flex-basis: 66%;
        }
    }

}
