@mixin map() {

    .map {
        padding-top: 0;
        margin-top: -$nav-height;
        order: 99;

        iframe {
            width: 100%;
            height: em(400);
        }
    }

}


@mixin map-medium() {

    .map {
        iframe {
            height: em(560);
        }
    }

}

@mixin map-large() {

    .map {
        margin-top: 0;
        order: initial;
        margin-bottom: 0;
        flex-basis: 50%;

        iframe {
            height: 100%;
        }

        & + .page {
            padding-top: $nav-height + ($spacing-huge * 2);
            padding-bottom: $spacing-huge * 2;
            margin-top: -$nav-height;
            flex-basis: 50%;

            aside {
                order: 3;
                flex-basis: 100%;
                justify-content: center;

                & + div {
                    padding-left: $spacing-huge;
                }
            }

        }

    }

}
