// PAGE COMPONENTS

// page (critical)
@mixin page {

    #header {
        font-weight: 900;
        letter-spacing: .15em;
        text-transform: uppercase;
        padding-top: em(108);
        position: relative;
    }

    #vcard,
    #nav {
        top: 0;
        font-size: $font-size-small;
        padding: em($spacing-huge * 1.5, $spacing-small);
    }

    #vcard {
        position: absolute;
        margin-left: auto;
        text-align: right;
        right: 0;
        z-index: 4;
    }

    #nav {
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        max-width: em($breakpoint-huge, $font-size-small);
        background-color: $color-white;
        z-index: 3;
        margin: 0 auto;
        transition: padding-top .1s ease-out;

        &.small {
            padding-top: $spacing-large;
            padding-bottom: $spacing-large;
            transition: padding-top .2s ease-in;
        }
    }

    #logo {
        display: block;
        font-size: $font-size-huge;
        font-weight: 300;
        letter-spacing: .2em;
        line-height: 120%;
        height: 2.5em;
        width: 11em;
        margin: 4em auto 6em;
        text-align: center;

        strong {
            display: block;
            font-weight: 900;
            font-size: em($font-size-medium, $font-size-huge);
            letter-spacing: .75em;
        }
    }

    #main,
    #footer {
        visibility: hidden;
        opacity: 0;
    }

    article {
        display: flex;
        flex-wrap: wrap;
        h1, h2, h3 {
            text-transform: uppercase;
        }
    }

    .vcard {
        address {
            font-style: normal;
        }
        & > span {
            display: block;
        }
    }

}

// page small
@mixin page-small {

    #nav {

        & > a {
            width: 30px;
            height: 30px;
            overflow: hidden;
            display: flex;
            align-items: center;
        }

    }

    .banner {
        @include picture-ratio(4,3);
    }

}


// page large
@mixin page-large {
    body {
        margin: 0 auto;
        max-width: $breakpoint-huge;
    }
}



// page loaded (non-critical)
@mixin page-loaded {
    #main,
    #footer {
        visibility: visible;
        animation: 0.15s ease-out 0.25s 1 fadeIn forwards;
    }

    #main img.lazyloaded {
        animation-delay: .25s;
    }

    .banner {
        margin-bottom: $spacing-large;
        @include picture-ratio(2,1);
    }

    .box {
        @include picture-ratio();

        figcaption {
            display: none;
        }
    }

    .dark {
        background-color: $color-black;
        color: $color-white;

        * {
            color: inherit;
        }
    }

    .frames {
        & > div {
            padding: 3em;
        }
        .box {
            flex: 1 33.33%;
        }
    }

    .page {
        padding: $spacing-huge $spacing-huge * 2;

        .box {
            margin: $spacing-huge;
        }

        & > div {
            order: 3;
            flex: 1 30%;
        }

        & > figure {
            flex: 1;
        }
    }

}

@mixin focus-effect-line (
    $selector: "#nav ul  a",
    $spacing: .4em
) {
    #{$selector} {
        &:after {
            content: "";
            display: block;
            height: em(3, $font-size-small);
            margin-top: $spacing;
            @include focus-effect-background-image($color-text);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 0%;
            transition: background-size .4s ease-in-out;
        }

        &.active:after,
        &:focus:after,
        &:active:after {
            background-size: 240%;
        }
    }
}

// menu dropdown
@mixin menu-slide-left (
    $background: $color-white,
    $selector: "#nav > ul"
) {
    #{$selector} {
        display: block;
        position: fixed;
        top: em(108);
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        padding: $spacing-huge * 1.5;
        background: rgba($background, 0.95);
        transition: transform .015s ease-in-out;
        transform: translateX(-100%);

        li {
            margin-bottom: $spacing-medium;
        }

        a {
            display: inline-block;
        }

        &.active {
            transform: translateX(0);
            transition: transform .25s ease-in-out;
        }
    }
}
