// PAGE COMPONENTS

// page (critical)
@mixin page {

    #header {
        display: flex;
        flex-wrap: wrap;
        font-weight: 900;
        letter-spacing: .15em;
        height: em(560);
        text-transform: uppercase;
        padding: $spacing-huge * 1.25 $spacing-huge * 1.5 $spacing-huge * 2.5;

        .vcard {
            flex: 1;
            flex-basis: 40%;
            font-size: $font-size-small;
            text-align: right;
        }
    }

    .vcard {

        address {
            font-style: normal;
        }

        & > span {
            display: block;
        }

    }

    #logo {
        display: block;
        flex: 1;
        flex-basis: 100%;
        font-size: $font-size-huge;
        font-weight: 300;
        letter-spacing: .2em;
        line-height: 120%;
        height: 2.5em;
        order: 3;
        marginâ»bottom: $spacing-huge;
        text-align: center;

        strong {
            display: block;
            font-weight: 900;
            font-size: em($font-size-medium, $font-size-huge);
            letter-spacing: .75em;
        }
    }

    #nav {
        flex: 1;
        flex-basis: 60%;
        font-size: $font-size-small;
    }

    #banner {
        margin-bottom: $spacing-large;
        @include picture-ratio(2,1);
    }

    #main,
    #footer {
        visibility: hidden;
        opacity: 0;
    }

    .box {
        @include picture-ratio();

        figcaption {
            display: none;
        }
    }

    .dark {
        background-color: $color-black;
        color: $color-white;

        * {
            color: inherit;
        }
    }

    .frames {
        & > div {
            padding: 3em;
        }
        .box {
            flex: 1 33.33%;
        }
    }

    .page {
        padding: $spacing-huge $spacing-huge * 2;

        .box {
            margin: $spacing-huge;
        }

        & > div {
            order: 3;
            flex: 1 30%;
        }

        & > figure {
            flex: 1;
        }
    }

    article {
        display: flex;
        flex-wrap: wrap;

        h1, h2, h3 {
            text-transform: uppercase;
        }

    }
}

// page small
@mixin page-small {

    #nav {
        padding: 0;

        & > a {
            width: 30px;
            height: 30px;
            overflow: hidden;
            display: flex;
            align-items: center;
        }

    }

    #banner {
        @include picture-ratio(4,3);
    }
}


// page large
@mixin page-large {
    body {
        margin: 0 auto;
        max-width: $breakpoint-huge;
    }
}



// page loaded (non-critical)
@mixin page-loaded {
    #main,
    #footer {
        visibility: visible;
        animation: 0.15s ease-out 0.25s 1 fadeIn forwards;
    }

    #main img.lazyloaded {
        animation-delay: .25s;
    }

}

@mixin focus-effect-line (
    $selector: "#nav ul  a",
    $spacing: .4em
) {
    #{$selector} {
        &:after {
            content: "";
            display: block;
            height: em(3, $font-size-small);
            margin-top: $spacing;
            @include focus-effect-background-image($color-text);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 0%;
            transition: background-size .4s ease-in-out;
        }

        &.active:after,
        &:focus:after,
        &:active:after {
            background-size: 240%;
        }
    }
}
