---
layout: default
---

<article class="card">

    <div>
        {{ content | replace: "\", "<br />" }}
    </div>

    {% if page.images %}
        {% for image in page.images %}
        <figure>
            {% include components/image.html image=image.url alt=image.alt style="card" %}
            {% if image.caption %}
                <figcaption>
                    {{ image.caption }}
                </figcaption>
            {% endif %}
        </figure>
        {% endfor %}
    {% endif %}

</article>

{% for url in page.pages %}
{% assign item = site.pages | where:"permalink", url | first %}
{% if item.layout == "page" %}
{% include page.html page=item %}
{% elsif item.layout == "projects" %}
{% include projects.html page=item %}
{% endif %}
{% endfor %}


