---
layout: default
---

<article class="frames">

    <div class="box dark">
        <h1>{{ page.title }}</h1>
        {{ content | replace: "\", "<br />" }}
    </div>

    {% if page.images %}
        {% for image in page.images %}
        <figure class="box">
            {% include components/image.html image=image.url alt=image.alt style="card" %}
            {% if image.caption %}
                <figcaption>
                    {{ image.caption }}
                </figcaption>
            {% endif %}
        </figure>
        {% endfor %}
    {% endif %}

</article>

{% assign pane = site.pages | where:"permalink","/informatie" | first %}

<article class="page">
    <div class="box">
        <h1>{{ pane.title }}</h1>
        {{ pane.content | markdownify | replace: "\", "<br />" }}
    </div>

    {% if pane.images %}
        {% for image in pane.images %}
        <figure class="box">
            {% include components/image.html image=image.url alt=image.alt style="card" %}
            {% if image.caption %}
                <figcaption>
                    {{ image.caption }}
                </figcaption>
            {% endif %}
        </figure>
        {% endfor %}
    {% endif %}

</article>


